<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
    <init-param>
      <param-name>passUrl</param-name>
      <param-value>login.jsp;404.jsp;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/test2/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>pagerUser</servlet-name>
    <servlet-class>web.pagerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagerUser</servlet-name>
    <url-pattern>/test2/pagerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PagerComment</servlet-name>
    <servlet-class>web.PagerComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagerComment</servlet-name>
    <url-pattern>/test2/PagerComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PagerXiangJu</servlet-name>
    <servlet-class>web.PagerXiangJu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagerXiangJu</servlet-name>
    <url-pattern>/test2/pagerXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>web.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/sxw/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkuser</servlet-name>
    <servlet-class>web.checkuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkuser</servlet-name>
    <url-pattern>/sxw/checkuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checklogin</servlet-name>
    <servlet-class>web.checklogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogin</servlet-name>
    <url-pattern>/sxw/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkAddUser</servlet-name>
    <servlet-class>web.checkAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkAddUser</servlet-name>
    <url-pattern>/sxw/checkAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>web.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/sxw/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAdmin</servlet-name>
    <servlet-class>web.CheckAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdmin</servlet-name>
    <url-pattern>/check/CheckAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckComment</servlet-name>
    <servlet-class>web.CheckComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckComment</servlet-name>
    <url-pattern>/check/checkComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>web.LoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/test2/loginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginout</servlet-name>
    <servlet-class>web.LoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginout</servlet-name>
    <url-pattern>/sxw/loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserLogin</servlet-name>
    <servlet-class>web.CheckUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserLogin</servlet-name>
    <url-pattern>/check/checkUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFileName</servlet-name>
    <servlet-class>web.GetFileName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileName</servlet-name>
    <url-pattern>/test2/getFileName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFilePic</servlet-name>
    <servlet-class>web.DeleteFilePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilePic</servlet-name>
    <url-pattern>/test2/deleteFilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImageView</servlet-name>
    <servlet-class>web.UploadImageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageView</servlet-name>
    <url-pattern>/test2/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFrontHeadImage</servlet-name>
    <servlet-class>web.UploadImageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFrontHeadImage</servlet-name>
    <url-pattern>/sxw/uploadFrontHeadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadStoryImageView</servlet-name>
    <servlet-class>web.UploadImageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStoryImageView</servlet-name>
    <url-pattern>/sxw/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddViewStory</servlet-name>
    <servlet-class>web.AddViewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddViewStory</servlet-name>
    <url-pattern>/test2/addViewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStory</servlet-name>
    <servlet-class>web.AddStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStory</servlet-name>
    <url-pattern>/sxw/addStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddXiangJu</servlet-name>
    <servlet-class>web.AddXiangJu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddXiangJu</servlet-name>
    <url-pattern>/test2/addXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PagerViewStory</servlet-name>
    <servlet-class>web.PagerViewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagerViewStory</servlet-name>
    <url-pattern>/test2/pagerViewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateViewStory</servlet-name>
    <servlet-class>web.UpdateViewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateViewStory</servlet-name>
    <url-pattern>/test2/updateViewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserPwd</servlet-name>
    <servlet-class>web.UpdateUserPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPwd</servlet-name>
    <url-pattern>/sxw/updateUserPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteViewStory</servlet-name>
    <servlet-class>web.DeleteViewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteViewStory</servlet-name>
    <url-pattern>/test2/deleteViewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserStory</servlet-name>
    <servlet-class>web.DeleteViewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserStory</servlet-name>
    <url-pattern>/sxw/deleteViewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PagerExperience</servlet-name>
    <servlet-class>web.PagerExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagerExperience</servlet-name>
    <url-pattern>/test2/pagerExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowBackIndex</servlet-name>
    <servlet-class>web.ShowBackIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBackIndex</servlet-name>
    <url-pattern>/test2/showBackIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showOrderXiangJu</servlet-name>
    <servlet-class>web.ShowBackIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showOrderXiangJu</servlet-name>
    <url-pattern>/sxw/showOrderXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddExperience</servlet-name>
    <servlet-class>web.AddExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperience</servlet-name>
    <url-pattern>/test2/addExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateExperience</servlet-name>
    <servlet-class>web.UpdateExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperience</servlet-name>
    <url-pattern>/test2/updateExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateXiangJu</servlet-name>
    <servlet-class>web.UpdateXiangJu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateXiangJu</servlet-name>
    <url-pattern>/test2/updateXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderXiangJu</servlet-name>
    <servlet-class>web.updateOrderXiangJu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderXiangJu</servlet-name>
    <url-pattern>/test2/updateOrderXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderActivity</servlet-name>
    <servlet-class>web.UpdateOrderActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderActivity</servlet-name>
    <url-pattern>/test2/updateOrderActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHeadImage</servlet-name>
    <servlet-class>web.UpdateHeadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHeadImage</servlet-name>
    <url-pattern>/sxw/updateHeadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOrNotShow</servlet-name>
    <servlet-class>web.ShowOrNotShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrNotShow</servlet-name>
    <url-pattern>/test2/showOrNotShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteExperience</servlet-name>
    <servlet-class>web.DeleteExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperience</servlet-name>
    <url-pattern>/test2/deleteExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteXiangJu</servlet-name>
    <servlet-class>web.DeleteXiangJu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteXiangJu</servlet-name>
    <url-pattern>/test2/deleteXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteOrderXiangJu</servlet-name>
    <servlet-class>web.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOrderXiangJu</servlet-name>
    <url-pattern>/test2/deleteOrderXiangJu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUserOrder</servlet-name>
    <servlet-class>web.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserOrder</servlet-name>
    <url-pattern>/sxw/deleteUserOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowActivity</servlet-name>
    <servlet-class>web.ShowActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowActivity</servlet-name>
    <url-pattern>/sxw/showActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStory</servlet-name>
    <servlet-class>web.ShowStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStory</servlet-name>
    <url-pattern>/sxw/showStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getStory</servlet-name>
    <servlet-class>web.ShowStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStory</servlet-name>
    <url-pattern>/sxw/getStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSingleActivityServlet</servlet-name>
    <servlet-class>web.ShowSingleActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSingleActivityServlet</servlet-name>
    <url-pattern>/sxw/showSingleActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSingleViewServlet</servlet-name>
    <servlet-class>web.ShowSingleViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSingleViewServlet</servlet-name>
    <url-pattern>/sxw/showSingleViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSingleStoryServlet</servlet-name>
    <servlet-class>web.ShowSingleStoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSingleStoryServlet</servlet-name>
    <url-pattern>/sxw/showSingleStoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowsingTimesThumbsUp</servlet-name>
    <servlet-class>web.BrowsingTimesThumbsUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowsingTimesThumbsUp</servlet-name>
    <url-pattern>/sxw/browsingTimesThumbsUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowsingTimesActivity</servlet-name>
    <servlet-class>web.BrowsingTimesActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowsingTimesActivity</servlet-name>
    <url-pattern>/sxw/browsingTimesActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowView</servlet-name>
    <servlet-class>web.ShowView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowView</servlet-name>
    <url-pattern>/sxw/showView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLive</servlet-name>
    <servlet-class>web.ShowLive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLive</servlet-name>
    <url-pattern>/sxw/showLive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIndex</servlet-name>
    <servlet-class>web.ShowIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndex</servlet-name>
    <url-pattern>/sxw/showIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showOrderActivity</servlet-name>
    <servlet-class>web.showOrderActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showOrderActivity</servlet-name>
    <url-pattern>/test2/showOrderActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showFrontOrderActivity</servlet-name>
    <servlet-class>web.showOrderActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showFrontOrderActivity</servlet-name>
    <url-pattern>/sxw/showFrontOrderActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAdmin</servlet-name>
    <servlet-class>web.ShowAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdmin</servlet-name>
    <url-pattern>/test2/showAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>web.ShowAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/sxw/showUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>web.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/sxw/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>web.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/sxw/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderActivity</servlet-name>
    <servlet-class>web.AddOrderActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderActivity</servlet-name>
    <url-pattern>/sxw/addOrderActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Likes</servlet-name>
    <servlet-class>web.Likes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Likes</servlet-name>
    <url-pattern>/sxw/likes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExperienceLikes</servlet-name>
    <servlet-class>web.ExperienceLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperienceLikes</servlet-name>
    <url-pattern>/sxw/experienceLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIpAddress</servlet-name>
    <servlet-class>web.GetIpAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIpAddress</servlet-name>
    <url-pattern>/sxw/getIpAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAccessIpAddress</servlet-name>
    <servlet-class>web.ShowAccessIpAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAccessIpAddress</servlet-name>
    <url-pattern>/test2/showAccessIpAddress</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/test2/404.jsp</location>
  </error-page>
  <display-name>sxw</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>